#row1{
	margin-top: 30px;
	margin-left: 24px;
  
}
#row1 img{

		height: 60px;

  
}

}
p{
	font-size: 30px;
	padding-left: 10px;
}
#row2 img {
	height: 500px;
	width: 750px;
	padding-top: 34px;
	padding-bottom: 34px;
	padding-left: 30px;

}
#row2 h2{
	padding-top: 85px;
}
#row2 button{
	margin-top: 35px;
}
#row3 img {
	height: 500px;
	width: 750px;
	padding-top: 34px;
	padding-bottom: 34px;
	padding-left: 30px;
	

}
#col1 img {
	height: 210px;
	width: 230px;
	padding-top: 34px;
	padding-bottom: 34px;
	padding-left: 24px;
	margin-left: 18px;

}
#row3 h5{
	margin-top: 65px;
	margin-left: 33px;

}

#row3 h2{
	margin-left: 35px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#row3 p{
	margin-left: 20px;
}
.col-5 img{
	margin-top: 25px;
}
#